



.text-editor-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text-editor-container > #TextArea {
  width: 90%;
  height: 100%;
  outline: none;
  resize: none;
  border:none;
  padding: 10px 10px 10px 10px;
  background: white;

}

  br{
  /*flex-direction: column;*/
  /*display:inline*/
  display: block;
  height: 1px;
}

.breakContainer {
  /*height: 0.2em;*/
}

